{% extends 'index.html' %}

{% load static %}

{% block content %}

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/ultimas_senhas.css' %}">
<div class="container-fluid p-4 text-center">
    <div class="row align-items-center barraTop">
        <div class="col-sm-2">
            <img src="{% static 'img/LOGO-1-BRANCO.png' %}" class="img-fluid" alt="Logo">
        </div>
        <div class="col-sm-10 text-end">
            <span class="titulo">VEREADOR BRASIL FARIA DE SÁ</span><br>
            <span class="subtitulo">Atendimento <strong>2024</strong></span>
        </div>
    </div>

    <!-- Senha Atual -->
    <div class="row mt-5 senha-atual align-items-center">
        <div class="col-sm-6 text-end">
            <span class="label">SENHA</span>
            <span class="label">GUICHÊ</span>
        </div>
        <div class="col-sm-6 text-start">
            <span id="senhaAtualNumero" class="senha-numero">0000</span><br>
            <span id="atendenteAtual" class="guiche">A</span>
        </div>
    </div>

    <!-- Últimas Senhas -->
    <div class="row mt-5 justify-content-around">
        <span class="ultima-chamada">Últimas Chamadas</span><br>
        <div class="col-sm-3 senha-container">
            <span>Senha: <span id="ultimaSenhaNumero1" class="ultima-chamada">0</span></span><br>
            <span>Guichê: <span id="atendente1" class="ultima-chamada">A</span></span>
        </div>
        <div class="col-sm-3 senha-container">
            <span>Senha: <span id="ultimaSenhaNumero2" class="ultima-chamada">0</span></span><br>
            <span>Guichê: <span id="atendente2" class="ultima-chamada">A</span></span>
        </div>
        <div class="col-sm-3 senha-container">
            <span>Senha: <span id="ultimaSenhaNumero3" class="ultima-chamada">0</span></span><br>
            <span>Guichê: <span id="atendente3" class="ultima-chamada">A</span></span>
        </div>
    </div>
</div>

<audio id="alert-sound" src="{% static 'audio/chamada.wav' %}" preload="auto"></audio>


<script>
    let lastNumero = null;
    const audioElement = document.getElementById('alert-sound');

    function updateSenhas() {
        fetch("{% url 'ultimas_senhas_json' %}")
            .then(response => response.json())
            .then(data => {
                const senhaAtual = document.getElementById('senhaAtualNumero');
                const ultimaSenha1 = document.getElementById('ultimaSenhaNumero1');
                const ultimaSenha2 = document.getElementById('ultimaSenhaNumero2');
                const ultimaSenha3 = document.getElementById('ultimaSenhaNumero3');
                const atendenteAtual = document.getElementById('atendenteAtual');
                const atendente1 = document.getElementById('atendente1');
                const atendente2 = document.getElementById('atendente2');
                const atendente3 = document.getElementById('atendente3');

                if (data.length > 0) {
                    const novaSenhaAtual = data[0].numero;
                    senhaAtual.textContent = novaSenhaAtual;
                    atendenteAtual.textContent = data[0].atendente;

                    ultimaSenha1.textContent = data.length > 1 ? data[1].numero : '0';
                    atendente1.textContent = data.length > 1 ? data[1].atendente : 'N/A';

                    ultimaSenha2.textContent = data.length > 2 ? data[2].numero : '0';
                    atendente2.textContent = data.length > 2 ? data[2].atendente : 'N/A';

                    ultimaSenha3.textContent = data.length > 3 ? data[3].numero : '0';
                    atendente3.textContent = data.length > 3 ? data[3].atendente : 'N/A';

                    // Reproduz o áudio se a senha atual for diferente da última senha
                    if (novaSenhaAtual !== lastNumero) {
                        // Reinicia o áudio se ele estiver tocando
                        if (!audioElement.paused) {
                            audioElement.pause();
                            audioElement.currentTime = 0; // Reinicia o áudio
                        }
                        audioElement.play(); // Toca o som
                        lastNumero = novaSenhaAtual;
                    }
                } else {
                    senhaAtual.textContent = '0';
                    ultimaSenha1.textContent = '0';
                    ultimaSenha2.textContent = '0';
                    ultimaSenha3.textContent = '0';
                    atendenteAtual.textContent = 'N/A';
                    atendente1.textContent = 'N/A';
                    atendente2.textContent = 'N/A';
                    atendente3.textContent = 'N/A';
                }
            })
            .catch(error => console.error('Error fetching senhas:', error));
    }

    // Atualiza as senhas a cada 5 segundos
    setInterval(updateSenhas, 5000);

    // Atualiza as senhas imediatamente quando a página é carregada
    document.addEventListener('DOMContentLoaded', updateSenhas);

</script>

{% endblock %}