@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


:root {
  --primary-bg: #F5F6FA;
  --secondary-bg: #e9f5ff;
  --text-color: #151111;
  --text-muted: #6c757d;
  --highlight-color: #0056b3;
  --input-border: #ccc;
  --input-focus: #007bff;
  --button-bg: #007bff;
  --button-hover: #0056b3;
  --box-shadow: rgba(20, 20, 20, 0.5);
  --white: #fff;
  --heading-h6: #bababa;
  --span-bg: #aaa;
}

.dark-theme {
    --primary-bg: #1f1f1f;
    --secondary-bg: #274359;
    --text-color: #f3f3f3;
    --text-muted: #6c757d;
    --highlight-color: #0056b3;
    --input-border: #ccc;
    --input-focus: #007bff;
    --button-bg: #007bff;
    --button-hover: #0056b3;
    --box-shadow: rgba(20, 20, 20, 0.5);
    --white: #000;
    --heading-h6: #bababa;
    --span-bg: #aaa;
  }


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com mais opacidade */
    z-index: 9999; /* Acima de todos os elementos */
}

/* Loader circular aprimorado */
.loader {
    position: relative;
    border: 4px solid #e0e0e0;
    border-top: 4px solid #007BFF; /* Cor principal do loader */
    border-radius: 50%;
    width: 60px; /* Um pouco maior */
    height: 60px;
    animation: spin 1s linear infinite;
}

/* Texto de carregamento */
.loader-text {
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #007BFF; /* Cor principal do texto */
    letter-spacing: 1px;
    animation: fadeIn 1.5s ease-in-out infinite; /* Animação de piscar no texto */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes fadeIn {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
}


.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: absolute; /* Change to absolute */
    top: 10px; /* Position it near the top */
    right: 20px; /* Position it near the right */
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    z-index: 1000; /* Make sure it stays above other elements */
    margin-bottom: 0;
}

  
  /* Esconder o CheckBox do HTML */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eaeaea;
    transition: .4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }




body,
input {
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--primary-bg);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: var(--white);
  border-radius: 3.3rem;
  box-shadow: 0 .4rem .8rem rgba(20, 20, 20, 0.5);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

/*.dark-theme .logo {
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 10px;
    width: 140px;
} */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 27px;
  margin-right: 0.3rem;
}

.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: var(--text-color);
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--text-color);
}

.heading h6 {
  color: var(--heading-h6);
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: var(--highlight-color);
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--input-border);
  padding: 0;
  font-size: 0.95rem;
  color: var(--text-color);
  transition: 0.4s;
}


.input-wrap label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: var(--input-border);
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: var(--text-color);
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: var(--button-bg);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: var(--button-hover);
}

.text {
  color: var(--text-muted);
  font-size: 0.7rem;
}

.text a {
  color: var(--text-muted);
  transition: 0.3s;
}

.text a:hover {
  color: var(--button-hover);
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0%;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: var(--secondary-bg);
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
  transform: translate(0, -50px);
}

.img-2 {
  transform: scale(0.4, 0.5);
}

.img-3 {
  transform: scale(0.3) rotate(-20deg);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--text-color);
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--span-bg);
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  width: 1.1rem;
  background-color: var(--text-color);
  border-radius: 1rem;
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
    margin-top: 30px;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}
